<body>
  <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="col-md-4">
          <div class="border border-3 border-success"></div>
          <div class="card  bg-white shadow p-5">
              <div class="mb-4 text-center">
                <img src="https://media.tenor.com/Hw7f-4l0zgEAAAAC/check-green.gif" class="text-success" width="150" height="150">
              </div>
              <div class="text-center">
                  <h1>Thank You !</h1>
                  <p>Your order have done </p>
                  <button class="btn btn-outline-success" id="myButton">Back Home</button>
              </div>
          </div>
      </div>
  </div>
</body>
<script type="text/javascript">
	setTimeout(function() {
        window.location.href = '/profile_about'; 
    }, 3000);

	var myButton = document.getElementById('myButton');

	function handleClick(event) {
	    event.preventDefault();

	    setTimeout(function() {
	    	window.location.href = '/profile_about'; 
	    }, 4000);
	}

myButton.addEventListener('click', handleClick);
</script>