<h2>show property</h2>
<div>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>company:</strong>
    <%#= @user&.company&.title %>
  </p>
  <p>
    <strong>company:</strong>
    <%= @user&.role %>
  </p>

</div>

<%= link_to "back", admin_users_path %>